body {
    background-color: #f5f0e9;
    font: normal, 13px, Tahoma,Arial, Helvetica, sans-serif;
    color: #44433b;

    width:940px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0;
    margin-top:25px;

    padding: 25px 0 0 0;
}

h1 {
    color: #593b0d;
    font-size: 30px;
}
.header-banner{
    display:flex;
    justify-content:center;
}

/*HEADER*/
#header-top-nav a{
    text-decoration: none;
    font: 13px;
    color: #484644;
}
header{
    display:flex;
    justify-content:space-between;
}
#header-menus{
    /*background-color:lightblue;*/
    width:100%;
    display:flex;
    flex-direction:column;
}
    #header-top-nav{
        display:flex;
        /*align-items:baseline;*/
        justify-content: space-between;
        padding:15px;

        border-left: 1px solid rgba(80, 67, 50, 0.20);
    }
    #header-bottom-nav{
        display:flex;
        align-items: flex-end;
        justify-content: space-between;
        padding:15px;

        border-top: 1px solid rgba(80, 67, 50, 0.20);
        border-left: 1px solid rgba(80, 67, 50, 0.20);
    }
    #header-bottom-nav ul{
        display:flex;
        margin-top: 0;
        margin-bottom: 0;
        /*justify-content:space-around;*/
        /*background-color:lightgreen;*/
    }
    #header-bottom-nav ul a{
        font-weight:bold;
    }
    #header-bottom-nav ul li{
        padding:0 12px 0 12px;
    }
    figure{
        display:flex;
        align-items: flex-end;

        margin:0;
    }
    .icon-text{
        margin-left:8px;
    }
#header-bottom-nav ul {
    list-style-type: none;
}
#header-bottom-nav ul a{
    font: bold, 18px;
    color: #504332;
    text-decoration:none;
}
    #header-bottom-nav ul a:hover {
        color: #c07a0e;
    }
#header-bottom-nav a{
    text-decoration:none;
    font: 18px;
    color: #504332;
}
#Search{
    color:#484644;
    background:none;
    border: thin;
    border-color: #504332;
    border-style: solid;
    font-size: 16px;
}

/*FOOTER*/
footer{
    background-color: #45433b;
    
}
#footer-top-section{
    padding:15px 0;
    display:flex;
    justify-content:space-around;
}
#footer-left-nav ul{
    display:flex;
}
#footer-right-socialmedia{
    display:flex;
    align-items:center;
}
#footer-right-socialmedia a{
    padding:15px;
    color:#ffffff;
}

#footer ul{
    list-style-type:none;
}
#footer-left-nav a{
    text-decoration:none;
    padding:15px;
    color: #ffffff;
}
#footer-bottom-info{
    color: #adacaa;
    font-size: 13px;
    display:flex;
    justify-content:center;

    padding:15px 0;
}


/*HOME.ASPX*/
#popularProductsContainerId{
     background-color:#ffffff;
     display: flex;
    justify-content: space-around;
    padding:25px 0;
}
#popularProductsContainerId figure{
    display:flex;
    flex-direction:column;
    border:1px solid rgba(0, 0, 0, 0.00);
}
#popularProductsContainerId figure figcaption{
    display:flex;
    flex-direction:column;
    width: 100%;
    /*align-items:center;*/
}
#popularProductsContainerId a{
    text-decoration:none;
}
#popularProductsContainerId figure figcaption span{
    margin-left: 15px;
    color: #593b0d;
}
#popularProductsContainerId a:hover figure{
    /*box-sizing:padding-box;*/
    border:1px solid rgba(192, 122, 14, 0.20);
}
#popularProductsContainerId a:hover span{
    color: #c07a0e;
}

/*PRODUCTDETAILS.ASPX*/
#product-details-container{
    display:flex;
}
.adaptable-footer{
    min-height:60vh; /*todo: fix this solution*/
}
#product-details-container figure{
    align-items: flex-start;
}
.product-details-img-small{
    width:100px;
    height:auto;

    padding-bottom:15px;
}
.slides {
    display:none

}
.product-details-img-large{
    width:500px;

    padding-left:15px;
}
#product-details-images-section{
    display:flex;
}
#product-details-images-section aside{
    display:flex;
    flex-direction:column;
}
#product-details-wrapper{
    display:flex;
    flex-direction:column;
    justify-content:center;
}

#product-details-specs-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#product-details-specs-section select{
        width: 277px;
        height:37px;
        letter-spacing:.1em;
        border: 2px solid #000;
        font-size:14px;
        padding: 7px 10% 7px 8px;
        
}
input#ContentPlaceHolder_DataList1_btn_addToCart_0{
        width: 277px;
        height:37px;
        letter-spacing:.1em;
        font-size:14px;
        padding: 7px 10% 7px 8px;
        border:none;
        cursor:pointer; 
        background-color:lightgreen;
}
section#product-details-specs-section {
    margin-left: 45px;
}
#product-details-specs-section div{
    margin-top:10px;
}



/*CONTACT.ASPX*/
input#ContentPlaceHolder_txt_email,
input#ContentPlaceHolder_txt_fullname {
    width: 100%;
}


/*TESTING.ASPX*/
<<<<<<< HEAD
.ProductsPanel img{
    border:1px solid black;
}
=======
#ProductsPanel{
    background-color:blue;
}

/*Product list pages - sneakers,boots...*/
.product-catalog-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.product-list-container{
     display:flex;
     flex-direction:column;

     width:180px;
     height:auto;
     text-align: center;
     background-color:white;

     padding:10px;
     margin-right:35px;
     
     margin-bottom:35px;
}
.product-list-container img{
     width:180px;
     height:auto;
}

.sort{
    float: right;
}

