body {
    background-color: #f5f0e9;
    font: normal, 13px, Tahoma,Arial, Helvetica, sans-serif;
    color: #44433b;
}

h1 {
    color: #593b0d;
    font-size: 30px;
}

/*HEADER*/
#header-top-nav a{
    text-decoration: none;
    font: 13px;
    color: #484644;
}
#header-bottom-nav ul {
    list-style-type: none;
}
#header-bottom-nav ul a{
    font: bold, 18px;
    color: #504332;
    text-decoration:none;
}
    #header-bottom-nav ul a:hover {
        color: #c07a0e;
    }

#header-bottom-nav #cart-container a{
    text-decoration:none;
    font: 18px;
    color: #504332;
}


/*FOOTER*/
footer{
    background-color: #45433b;
    
}
#footer ul{
    list-style-type:none;
}
#footer-left-nav a{
    text-decoration:none;
    color: #ffffff;
}
#footer-bottom-info{
    color: #adacaa;
    font-size: 13px;
}


/*HOME.ASPX*/
#PopularProductsId{
    background-color:#ffffff;
}