body {
    background-color: #f5f0e9;
    font: normal, 13px, Tahoma,Arial, Helvetica, sans-serif;
    color: #44433b;

    width:1200px;
    margin-left:auto;
    margin-right:auto;
}

h1 {
    color: #593b0d;
    font-size: 30px;
}

/*HEADER*/
#header-top-nav a{
    text-decoration: none;
    font: 13px;
    color: #484644;
}




header{
    display:flex;
    justify-content:space-between;
}
#header-menus{
    /*background-color:lightblue;*/
    width:100%;
    display:flex;
    flex-direction:column;
}
    #header-top-nav{
        display:flex;
        align-items:baseline;
    }
    #header-bottom-nav{
        display:flex;
        align-items:baseline;
    }
    #header-bottom-nav ul{
        display:flex;
        /*justify-content:space-around;*/
        /*background-color:lightgreen;*/
    }
    #header-bottom-nav ul li{
        padding:0 8px 0 8px;
    }
    figure{
        display:flex;
        align-items:baseline;
    }
    .icon-text{
        margin-left:8px;
    }












#header-bottom-nav ul {
    list-style-type: none;
}
#header-bottom-nav ul a{
    font: bold, 18px;
    color: #504332;
    text-decoration:none;
}
    #header-bottom-nav ul a:hover {
        color: #c07a0e;
    }

#header-bottom-nav #cart-container a{
    text-decoration:none;
    font: 18px;
    color: #504332;
}


/*FOOTER*/
footer{
    background-color: #45433b;
    
}
#footer ul{
    list-style-type:none;
}
#footer-left-nav a{
    text-decoration:none;
    color: #ffffff;
}
#footer-bottom-info{
    color: #adacaa;
    font-size: 13px;
}


/*HOME.ASPX*/
#PopularProductsId{
    background-color:#ffffff;
}