<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site1.master.cs" Inherits="casualshoes.Site1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Home</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <h1>Welcome to CasualShoes.com!</h1>
        <asp:ContentPlaceHolder ID="ContentPlaceHolder" runat="server">

        </asp:ContentPlaceHolder>
    </div>
    </form>
</body>
</html>
